<div id="image_form" class="common_form">
<%= form_for(@favorite_image) do |f| %>
  <h1>お気に入り写真を登録する</h1>
  <p>flickrで気に入った写真を登録してください</p>
  <% if @favorite_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_image.errors.count, "error") %> prohibited this favorite_image from being saved:</h2>
      <ul><% @favorite_image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %></ul>
    </div>
  <% end %>

  <% if Category.all.present? %>
    <%= f.label :categories %>
    <%= f.select :category_id, category_options %>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :ownername %>
  <%= f.text_field :ownername %>

  <%= f.label :flickr_user_id %>
  <%= f.text_field :flickr_user_id %>

  <%= f.label :photo_source_url_n %>
  <%= f.text_field :photo_source_url_n %>

  <%= f.label :web_page_url %>
  <%= f.text_field :web_page_url %>

  <%= f.submit 'Create' %>

<% end %>
</div>

