<% unless @discovered_pictures.blank? %>
<% @discovered_pictures.each do |p| %>
  <div id="search_item" class="search_item">
    <a href="<%= FlickRaw.url_photopage(p) %>" target="_blank" title="<%= p.title %> by <%= p.ownername %>, on Flickr"><img src="<%= FlickRaw.url_n(p) %>" alt="<%= p.title %>"></a>
    <div class="caption">
      <div><%= link_to 'Add Favorite image', new_favorite_image_path(:type => "add", :favorite_image => { :title => "#{p.title}", :owner => "#{p.owner}", :ownername => "#{p.ownername}", :web_page_url => "#{FlickRaw.url_photopage(p)}", :photo_source_url_n => "#{FlickRaw.url(p)}"}) %></div>
      <div><%= p.title %></div>
      <div><%= p.owner %></div>
      <div>by <%= p.ownername %>, on Flickr</div>
    </div>
  </div>
<% end %>
<% end %>

