<div id="content">
<h2>カテゴリー毎の写真</h2>

<%= render "categoriy_images" %>

<h2>カテゴリ一覧</h2>
<div id="categories">
<%= link_to 'カテゴリ追加', new_category_path %>
</div>

<table id="category_list">
  <thead>
    <tr>
      <th>カテゴリ名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
